body {
    margin: 4vw;
    background-color: Black;
}
main {
    padding: 4vw;
    border: 1px dotted #777;
}
h1, footer {
    text-align: center;
    color: Lime;
}
footer {
    margin-top: 1vw;
}
h2 {
    color: Lime;
}
p {
    color: Lime;
}
a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: Black;
    border: 1px solid Lime; 
    border-radius: 4px;
    background-color: Lime;
}
a:hover {
    background-color: Black;
    color: Lime;
    
}
main {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: auto;
}
.button {
    color: Black;
    background-color: Lime;
    border:1px solid Black;
    border-radius: 4px;
}
.button:hover {
    background-color: Lime;
    color: Black;  
}
