{% extends 'base.html' %}
{% block content %}

<h2>{{ user.username }}</h2>
<main>
    {% for i in user.coin_set.all %}
        <p>
            <a href="{% url 'coin:coin_detail' i.id %}">{{ i.color }} {{ i.holo }} {{ i.cointype.name }}</a>
        </p>
        <br />
    {% endfor %}
    {% if request.user == user %}
    <form method="post" action="{% url 'coin:add_coin' user.id  %}"> 
        {% csrf_token %}
        <button type = "submit">New coin</button>
    </form>
    {% endif %}
</main>

{% endblock %}
